.gpt__brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.sec__padding-brand {
  padding-top: 50px;
  padding-bottom: 50px;
}

.gpt__brands img {
  flex: 1;
  max-width: 150px;
  min-width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
