.wrapper {
  max-width: var(--container);
  margin-inline: auto;
  padding: 0px 10px;
}
.gradient__bg {
  background: -moz-radial-gradient(circle at 3% 25%, #002853 0%, #040c18 100%);
  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 3% 25%,
    #002853 0%,
    #040c18 100%
  );
  /* opera 11.10+ */
  background: -o-radial-gradient(circle at 3% 25%, #002853 0%, #040c18 100%);
  /* ie 10+ */
  background: -ms-radial-gradient(circle at 3% 25%, #002853 0%, #040c18 100%);
  /* global 92%+ browsers support */
  background: radial-gradient(circle at 3% 25%, #002853 0%, #040c18 100%);
}
.sec__spacer {
  padding-top: 100px;
  /* padding-bottom: 100px; */
}
